<div id="mySidenav" class="sidenav bg-light">
    @*<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>*@
    <div class="row">
        <div class="col-12 p-2 ml-3">
            <a class="btn btn-secondary m-1" style="min-width:150px;text-align:left;" href="@Url.Action("Index","EWSlists")"><i class="fa fa-bars"></i>&nbsp;Listeler</a>&nbsp;
            <a class="btn btn-secondary m-1" style="min-width:150px;text-align:left;" href="@Url.Action("Index","EWSWords")" role="button"><i class="fa fa-file-word-o"></i>&nbsp;Kelimeler</a>&nbsp;
            <a class="btn btn-secondary m-1" style="min-width:150px;text-align:left;" href="@Url.Action("Index","ReadingPart")" role="button"><i class="fa fa-book"></i>&nbsp;Okuma Parçaları</a>&nbsp;
            <a class="btn btn-secondary m-1" style="min-width:150px;text-align:left;" href="@Url.Action("Index","StudyScreen")" role="button"><i class="fa fa-desktop"></i>&nbsp;Çalışma Ekranı</a>&nbsp;
            <a class="btn btn-secondary m-1" style="min-width:150px;text-align:left;" href="@Url.Action("Index","Sentence")" role="button"><i class="fa fa-desktop"></i>&nbsp;Cümleler</a>&nbsp;
        </div>
    </div>
</div>